Requirements
============

List of required Python modules and libraries:
	- naoqi - version 1.14
	- numpy 
	- cv2 
	- configparser - parameters importing from configuration file
	- argparser - enables argument handling when starting module from command window 
	- transition - state machine package
	- pymorph
	- almath

Module is programmed in Python 2.7.
